<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">   

<head>
	<div th:replace="/fragments/header :: header"> </div>         
</head>     

<body>            
    
	<div th:replace="/fragments/header :: navbar"> </div>     
	        
	<div th:replace="/fragments/products :: products"/>            
	    
	           
	<div th:replace="/fragments/footer :: footer" />                                                    
                                         
                                                                                    
</body>                            
                     
</html>